#header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        .navbar-header
          a(href="/").navbar-brand
            span Super awesome chat 2000
            span.small ...or something...whatever
        .nav
          ul.navbar-right.nav.navbar-nav
            if !user
              li
                a(href="/register") Register
              li
                a(href="/login") Login
            else
              li
                a(href="/chat") Chat
              li
                a(href="/account") Me
              li
                a(href="/logout") Logout
