extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      p Blah blah blah, what chatting is all about.
      p ...or me just testing rethinkdb, socket.io, express, passport and bcrypt

      a(href="chat").btn.btn-danger Test

